.color-1 {
    color: transparent;
    -webkit-background-clip: text;

}

.color-2 {
    background-image: linear-gradient(180deg, #06e7bb 13.78%, #359bdb 100%);
    color: transparent;
    -webkit-background-clip: text;

}